__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.pkl
*.pickle
.ipynb_checkpoints/
**/.ipynb_checkpoints/
data/
models/
outputs/
*.csv
.DS_Store
.venv/
.env/
.virtual_documents/
.virtual_documents/
